      <div>
      <div class="bgtop">
      	<!-- <div class="container-fluid">
      		<div class="row">
      			<div class="col-md-12">
      				<div class="navbar" role="navigation">
      					<div class="navbar-header"> <a class="navbar-brand" href="index.html">
                  <img src="" alt="logo"></a> </div>
      					<ul class="nav navbar-nav nav-main navbar-right">
      						<li class="pad10">
      							<div class="dropdown"><span class="badge">5</span> <a href="#" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="user-placeholder"></span></a>
      								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      									<li><a href="#"><span class="glyphicon glyphicon-user"></span> Hi, User</a></li>
      									<li role="separator" class="divider"></li>
      									<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Account Info</a></li>
      									<li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
      									<li><a href="index.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      								</ul>
      							</div>
      						</li>
      					</ul>
      				</div>
      			</div>
      		</div>
      	</div> -->
      	<div class="container-fluid">
      		<div class="row">
      			<div class="col-xs-6">
             <!-- <AppLink data={this.state.data} /> -->
             Links
      			</div>
      			<div class="col-xs-6">
      				<div class="pad10"><a href="#AddDetails"  data-toggle="modal" data-target="#AddNewRequest" class="pull-right pad10"><span class="glyphicon glyphicon-plus"></span></a></div>
      			</div>
      		</div>
      	</div>
      </div>
			  
	<div class="heightfixinside relative">
	<div id="wrapper">
		<div class="container-fluid" id="wrapper">
			<div class="pad60">
				<div class="row">
					<div class="col-md-12">
						<div class="tab-content">
              Content
						</div>
					</div>
				</div>
			</div>
		</div></div>
      </div>
	</div>