	 

<div class="bgtop">
	 <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar" role="navigation">
					<div class="navbar-header"> <a class="navbar-brand" href="index.html"><img src="assets/images/ladbrokes-logo.png" alt="logo"></a> </div>
					<ul class="nav navbar-nav nav-main navbar-right">
						<li class="pad10">
							<div class="dropdown"><span class="badge">5</span> <a href="#" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="user-placeholder"></span></a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="#"><span class="glyphicon glyphicon-user"></span>  Hi, <span name="usname" [(ngModel)]='title' ngDefaultControl > </span></a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Account Info</a></li>
									<li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
									<li><a href="index.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div> 
	<div class="container-fluid">
	<div class="row">
			<div class="col-xs-6">
				<!-- <button type="button" class="hamburger is-closed mar200 pull-left" data-toggle="offcanvas"> <span class="hamb-top"></span> <span class="hamb-middle"></span> <span class="hamb-bottom"></span> </button> -->
				 <div class="tab-main-outer">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active">
						<a href="" routerLink="/releasemanagement" aria-controls="Dashboard" role="tab" data-toggle="tab">Release Management</a>
						</li>
						<li role="presentation">
							<a href="" routerLink="/myqueue"  aria-controls="Log" role="tab" data-toggle="tab">Myqueue</a>
						</li>
					</ul>
				</div> 
			</div>
		
	</div>
	
	</div>
</div>
<div class="heightfixinside relative">

		<div id="wrapper">
		<nav class="nav " id="sidebar-wrapper" role="navigation">
			<ul class="nav sidebar-nav">
				<li> <a href="patientdetails.html"><span class="glyphicon glyphicon-user"></span> Main Menu 1</a> </li>
				<li> <a href="notifications.html"><span class="glyphicon glyphicon-globe"></span> Main Menu 2</a> </li>
			</ul>
		</nav>
		<div class="container-fluid" id="wrapper">
			<div class="pad60">
				<div class="row">
					<div class="col-md-12">
						<div class="tab-content">
							<router-outlet></router-outlet>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
</div>