<div class="text-right">
  <button type="submit" class="btn btn-primary" (click)="onClick()">Next</button>
</div>
<div class="heightfixinside relative">
    <div class="container-fluid" id="wrapper">
        <div class="pad60">
            <div class="row">
                <div class="col-md-12">
                    <div class="box table-responsive">
                        <h1 class="title">Digital Release Board <small>- Release Live Status and Metrics</small></h1>
                        <div class="tabel-calender">
                            <div class="table-calender-row bgdark">
                                <div class="tabel-calender-cell"></div>
                                <div *ngFor="let sb of WeekDay; let j=index" class="tabel-calender-cell">
                                    {{sb.name}}
                                    <div class="total-number blink_me">1</div>
                                </div>
                            </div>
                            <div class="table-calender-row" *ngFor="let tm of Time; let i=index">
                                <div class="tabel-calender-cell">{{tm.name}}</div>
                                <div class="tabel-calender-cell">
                                    <div class="carousel carousel-card slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                        
                                         <div class="item active" *ngIf="getTimeDetail(1,tm.name).isAvail ==true">
                                          <div class="card yellow" >
                                                    <div>
                                                        <p>{{getTimeDetail(1,tm.name).releaseName}}</p>
                                                    </div>
                                        </div>
                                            </div>
                                     </div>
                                    </div>
                                </div>
                                <div class="tabel-calender-cell">
                                                <div class="carousel carousel-card slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                        
                                         <div class="item active" *ngIf="getTimeDetail(2,tm.name).isAvail ==true">
                                          <div class="card yellow" >
                                                    <div>
                                                        <p>{{getTimeDetail(2,tm.name).releaseName}}</p>
                                                    </div>
                                        </div>
                                            </div>
                                     </div>
                                    </div>
                                </div>
                                <div class="tabel-calender-cell">
                                                <div class="carousel carousel-card slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                        
                                         <div class="item active" *ngIf="getTimeDetail(3,tm.name).isAvail ==true">
                                          <div class="card yellow" >
                                                    <div>
                                                        <p>{{getTimeDetail(3,tm.name).releaseName}}</p>
                                                    </div>
                                        </div>
                                            </div>
                                     </div>
                                    </div>
                                </div>
                                <div class="tabel-calender-cell">
                                                <div class="carousel carousel-card slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                        
                                         <div class="item active" *ngIf="getTimeDetail(4,tm.name).isAvail ==true">
                                          <div class="card yellow" >
                                                    <div>
                                                        <p>{{getTimeDetail(4,tm.name).releaseName}}</p>
                                                    </div>
                                        </div>
                                            </div>
                                     </div>
                                    </div>
                                </div>
                                <div class="tabel-calender-cell">
                                                <div class="carousel carousel-card slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                        
                                         <div class="item active" *ngIf="getTimeDetail(5,tm.name).isAvail ==true">
                                          <div class="card yellow" >
                                                    <div>
                                                        <p>{{getTimeDetail(5,tm.name).releaseName}}</p>
                                                    </div>
                                        </div>
                                            </div>
                                     </div>
                                    </div>
                                </div>
                                <div class="tabel-calender-cell">
                                                <div class="carousel carousel-card slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                        
                                         <div class="item active" *ngIf="getTimeDetail(6,tm.name).isAvail ==true">
                                          <div class="card yellow" >
                                                    <div>
                                                        <p>{{getTimeDetail(6,tm.name).releaseName}}</p>
                                                    </div>
                                        </div>
                                            </div>
                                     </div>
                                    </div>
                                </div>
                                <div class="tabel-calender-cell">
                                                <div class="carousel carousel-card slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                        
                                         <div class="item active" *ngIf="getTimeDetail(0,tm.name).isAvail ==true">
                                          <div class="card yellow" >
                                                    <div>
                                                        <p>{{getTimeDetail(0,tm.name).releaseName}}</p>
                                                    </div>
                                        </div>
                                            </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
         

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>