<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="images/favicon.ico" />
    <title>Ladbrokes Betting &amp; Gaming Ltd</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--//-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <![endif]-->
    <!--//-->
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
</head>
<body id="top" class="">
    <div class="bgtop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header"> <a class="navbar-brand" href="index.html"><img src="images/ladbrokes-logo.png" alt="logo"></a> </div>
                    <div class="pull-right pad15"><span id="time"></span></div>
                </div>
                <div class="col-md-12">
                    <div class="notification">
                        <div class="notification-box">
                            <p>Notification</p>
                            <h3 class="mar0">Secondary, War Room</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="heightfixinside relative">
        <div class="container-fluid" id="wrapper">
            <div class="pad60">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box table-responsive">
                            <h1 class="title">Digital Release Board <small>- Release Live Status and Metrics</small></h1>
                            <div class="tabel-calender">
                                <div class="table-calender-row bgdark">
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell">
                                        SUN
                                        <div class="total-number blink_me">2</div>
                                    </div>
                                    <div class="tabel-calender-cell">
                                        MON
                                        <div class="total-number blink_me">3</div>
                                    </div>
                                    <div class="tabel-calender-cell">
                                        TUE
                                        <div class="total-number blink_me">3</div>
                                    </div>
                                    <div class="tabel-calender-cell">
                                        WED
                                        <div class="total-number blink_me">1</div>
                                    </div>
                                    <div class="tabel-calender-cell">
                                        THU
                                        <div class="total-number blink_me">3</div>
                                    </div>
                                    <div class="tabel-calender-cell">
                                        FRI
                                        <div class="total-number blink_me">1</div>
                                    </div>
                                    <div class="tabel-calender-cell">
                                        SAT
                                        <div class="total-number blink_me">1</div>
                                    </div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">00.00</div>
                                    <div class="tabel-calender-cell">
                                        <div class="carousel carousel-card slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <div class="card yellow">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card green">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card red">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">01.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell">
                                        <div class="carousel carousel-card slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <div class="card yellow">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card red">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card green">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell">
                                        <div class="carousel carousel-card slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <div class="card yellow">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card green">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card red">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">02.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell">
                                        <div class="carousel carousel-card slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <div class="card red">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card green">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card yellow">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">03.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell">
                                        <div class="carousel carousel-card slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <div class="card green">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card yellow">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card red">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">04.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">05.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">06.00</div>
                                    <div class="tabel-calender-cell">
                                        <div class="carousel carousel-card slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <div class="card yellow">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card red">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell">
                                        <div class="carousel carousel-card slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <div class="card green">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="card red">
                                                        <div>
                                                            <p>Day - X</p>
                                                            <p>Secondary</p>
                                                            <p>War Room</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">07.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">08.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">09.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">10.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">11.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">12.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">13.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">14.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">15.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">16.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">17.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">18.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">19.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">20.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">21.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">22.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">23.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                                <div class="table-calender-row">
                                    <div class="tabel-calender-cell">24.00</div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                    <div class="tabel-calender-cell"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script-user.js"></script>
</body>
</html>